body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

/* #region загальні скиди стилів */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  list-style: none;
  background-color: #fff;
  max-width: 1440px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.gallery-item {
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.basicLightbox--visible img {
  max-width: 80vw;
  max-height: 80vh;
}

.my-custom-class .basicLightbox__placeholder {
  background-color: rgba(46, 47, 66, 0.8);
}
